<launch>

    <node name = "odom_node"
          pkg = "espeleo_modifications"
          type = "odom.py"
          args = ""
          output = "screen">
    </node>

    <node pkg = "espeleo_modifications"
          type = "odom_broadcaster_ufmg.py"
          name = "odom_broadcaster_node"
          args = "_yaml_file:='$(find espeleo_modifications)/config/espeleo_ufmg.yaml'"
          output = "screen">
    </node>

</launch>
