<launch>

    <arg name="bag"          default="false" />

    <arg name="filename"     default="bag_tarde_1.bag" />

    <arg name="topics"       default="/odom /robot_vel /device1/get_joint_state /device2/get_joint_state /device3/get_joint_state /device4/get_joint_state /device5/get_joint_state /device6/get_joint_state /axis_back/camera_info /axis_back/image_raw/compressed /axis_front/camera_info /axis_front/image_raw/compressed /imu/data /imu_data_str  /os1_cloud_node/points /os1_cloud_node/imu /radio/status /d435/color/camera_info /d435/color/image_raw/compressed /d435/depth/camera_info /d435/depth/color/points /d435/depth/image_rect_raw/compressed /d435/infra1/camera_info /d435/infra1/image_rect_raw/compressed /d435/infra2/camera_info /d435/infra2/image_rect_raw/compressed /tf /tf_static /integrated_to_init /laser_odom_to_init" />

    <!--arg name="topics"       default="
	/odom /robot_vel
	/device1/get_joint_state /device2/get_joint_state /device3/get_joint_state /device4/get_joint_state /device5/get_joint_state /device6/get_joint_state 
	/ar_pose_marker 
	/ar_pose_marker_back 
	/axis_back/camera_info /axis_back/image_raw/compressed /axis_front/camera_info /axis_front/image_raw/compressed 
	/cmd_vel 
	/decawave/tag_pose 
	/espeleo_io/backLight /espeleo_io/frontLight 
	/imu/data /imu/mag /imu_data_str 
	/os1_cloud_node/points /os1_cloud_node/imu 
	/radio/status 
	/realsense/accel/sample /realsense/fisheye1/camera_info /realsense/fisheye1/image_raw/compressed /realsense/fisheye2/camera_info /realsense/fisheye2/image_raw/compressed /realsense/gyro/sample /realsense/odom/sample 
        /d435/color/camera_info /d435/color/image_raw/compressed /d435/depth/camera_info /d435/depth/color/points /d435/depth/image_rect_raw/compressed /d435/infra1/camera_info /d435/infra1/image_rect_raw/compressed /d435/infra2/camera_info /d435/infra2/image_rect_raw/compressed

	/tf /tf_static 
	/visualization_marker /visualization_marker_back 
	/integrated_to_init /laser_odom_to_init 
	/espeleo/traj_points" /-->

    <arg name="xsens"        default="true" />
    <arg name="realsense"    default="true" />
    <arg name="axis"         default="true" />
    <arg name="lidar"        default="true" />
    <arg name="decawave"     default="false" />
    <arg name="radio"        default="true" />
    <arg name="artrack"      default="false" />
    <arg name="artrack_back" default="false" />	
    <arg name="tfs"          default="true" />
    <arg name="laser_odom"   default="true" />
    <arg name="control"      default="false" />
    <arg name="odom_ekf"     default="true" />


    <include file="$(find xsens_driver)/launch/xsens_driver.launch" if="$(arg xsens)" />

    <include file="$(find realsense2_camera)/launch/rs_t265_modified.launch" if="$(arg realsense)" />

    <include file="$(find axis_camera)/launch/axis_dual.launch" if="$(arg axis)" />

    <include file="$(find ouster_ros)/os1.launch" if="$(arg lidar)" />

    <include file="$(find espeleo_decawave)/launch/decawave_driver.launch" if="$(arg decawave)" />

    <node name="espeleo_radio_node" pkg="espeleo_radio" type="status_catcher.py" output="screen" if="$(arg radio)" />

    <include file="$(find ar_track_alvar)/launch/ar_track.launch" if="$(arg artrack)" />

    <include file="$(find ar_track_alvar)/launch/ar_track_back.launch" if="$(arg artrack_back)" />

    <include file="$(find bags_launch)/tfs_ufmg.launch" if="$(arg tfs)" />

    <include file="$(find lego_loam)/launch/run.launch" if="$(arg laser_odom)" />

    <include file="$(find corredor)/launch/indoor_control.launch" if="$(arg control)" />

    <include file="$(find espeleo_locomotion)/launch/locomotion_ekf.launch" if="$(arg odom_ekf)" />


    <node name="record_bag_node" pkg="rosbag" type="record" output="screen" args="-o ~/$(arg filename) $(arg topics)" if="$(arg bag)" />


</launch>
